/**
 * Mein Chatserver
 * ▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔
 * Licensed Materials - Property of mein-chatserver.de.
 * © Copyright 2024. All Rights Reserved.
 *
 * @version 1.0.0
 * @author  Adrian Preuß
 */

/* Animations */
@keyframes dots {
  0% {
    content: "";
  }

  20% {
    content: ".";
  }

  40% {
    content: "..";
  }

  80% {
    content: "...";
  }

  100% {
    content: "";
  }
}

/* Globals */
:not(input, textarea)::selection {
  background: transparent;
}

* {
  outline: none;
  box-sizing: border-box;
  font-smoothing: antialiased;
  font-smooth: always;
  text-rendering: optimizeLegibility;
}

html, body {
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
  font-size: 90%;
  background: var(--login-background);
  color: var(--login-foreground);

  flex-direction: row;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Browser Compatiblity */
browser-compatiblity {
  flex: 1;
  color: #444444;
  background: #DEDEDE;
  display: inline-block;
  font-size: 90%;
  text-wrap: nowrap;
  text-align: center;
  align-content: center;
}

browser-compatiblity div {
  display: inline-block;
  font-size: 500%;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 5px 10px;
  color: #FFFFFF;
  margin: 0 0 20px 0;
}

browser-compatiblity p {
  padding: 0;
  margin: 0;
}

browser-compatiblity a {
  margin: 30px 0 0 0;
  background: #0AA10A;
  border-radius: 4px;
  font-size: 80%;
  line-height: 1rem;
  display: inline-flex;
  text-decoration: none;
  padding: 3px;
}

browser-compatiblity a:hover {
  background: #FFFFFF;
  color: #444444;
}

browser-compatiblity img {
  display: inline-block;
  flex: 0;
  padding: 0 4px;
  max-height: 16px;
}

browser-compatiblity span {
  display: inline-block;
  flex: 1;
  padding: 0 4px 0 0;
}

/* Buttons */
button {
  cursor: pointer;
}

ui-grid {
  height: 100vh;
}
